.terminal {
  padding: 1em;
}

#terminal {
  flex-grow: 1;
}

body {
  height: 100vh;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  margin: 0;
  padding: 10px;
}

footer {
  margin-top: 1ex;
}